[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
pywavelets = "*"
scikit-learn = "*"
seaborn = "*"
tqdm = "*"
ipykernel = "*"
pyaml = "*"

[dev-packages]
ipykernel = "*"
black = "*"
yapf = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
